.calendar-input {
    position: relative;
    display: inline-block;

    &_width_available {
        width: 100%;
    }

    &__custom-field {
        .input__icon {
            cursor: pointer;
        }

        &.input_disabled .input__icon {
            cursor: default;
        }
    }

    &__native-field {
        opacity: 0;
        appearance: none;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        min-width: 0;
        height: 100%;
        z-index: 1;
    }
}
