@import '../vars.css';

.attach {
    display: inline-block;

    white-space: nowrap;

    &__control {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        width: 100%;
        margin: 0;

        opacity: 0;
    }

    &__file,
    &__no-file {
        display: inline;

        margin-left: 0.5em;
    }

    &__file .icon {
        width: 1em;
        margin-right: 0.3em;

        background-image: url(./images/attach.png);
    }

    &__clear {
        margin-left: 5px;

        cursor: pointer;

        &:before {
            content: '×';
        }
    }

    &_disabled &__no-file,
    &_disabled &__file {
        opacity: var(--opacity-disabled);
    }

    &_disabled &__clear {
        display: none;
    }
}
