@import '../vars.css';

.select_theme_alfa-on-white {
    @each $size in s, m, l, xl {
        &.select_size_$(size) .select__tick {
            background-image: url(./images/select__tick_theme_alfa-on-white__$(size).svg);
        }
    }

    &.select_focused,
    &.select_focused-hard,
    &.select_opened {
        .select__button {
            border-color: rgba(0, 0, 0, .9);
            box-shadow: 0 0 0 1px rgba(0, 0, 0, .9);
            background-color: var(--color-background-control-focused-alfa-on-white);
        }
    }

    &.select_invalid {
        .select__button {
            border-color: var(--color-error-translucent);
        }

        &.select_focused,
        &.select_focused-hard,
        &.select_opened {
            .select__button {
                border-color: var(--color-error-translucent);
                box-shadow: 0 0 0 1px var(--color-error-translucent);
                background: var(--color-error-transparent);
            }
        }
    }
}
