@import '../vars.css';

.select {
    display: inline-block;
    vertical-align: top;
    position: relative;
    min-width: 150px;
    max-width: 100%;

    &__button {
        width: 100%;
        text-align: left;
        vertical-align: top;

        & .button__text {
            max-width: 100%;
        }
    }

    &__menu {
        .menu-item:first-child {
            border-radius: var(--border-radius-control) var(--border-radius-control) 0 0;
        }

        .menu-item:last-child {
            border-radius: 0 0 var(--border-radius-control) var(--border-radius-control);
        }
    }

    &__tick {
        position: absolute;
        top: 0;
        right: 0;

        height: 100%;

        opacity: var(--opacity-minor);

        background-position: center;
    }

    &_disabled &__tick {
        opacity: var(--opacity-disabled);
    }

    &_size_s &__button,
    &_size_m &__button {
        padding-right: 30px;
        padding-left: 10px;
    }

    &_size_l &__button,
    &_size_xl &__button {
        padding-right: 34px;
        padding-left: 15px;
    }

    &_focused &__tick,
    &__button.button_hovered &__tick {
        opacity: 1;
    }

    &_size_s &__tick {
        right: 5px;
    }

    &_size_m &__tick {
        right: 2px;
    }

    &_size_l &__tick {
        right: 0;
    }

    &_size_xl &__tick {
        right: 0;
    }

    &_width_available {
        width: 100%;
        min-width: 0;
    }

    &_native {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        min-width: 0;
        height: 100%;
        border-radius: var(--border-radius-control);
    }
}
