@import '../vars.css';

.popup_theme_alfa-on-color {
    color: var(--color-content-alfa-on-white);

    &.popup_height_adaptive .popup__gradient {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .4) 40%, rgba(0, 0, 0, .9) 75%, rgba(0, 0, 0, 1) 100%);
    }

    &:after {
        background-color: rgba(0, 0, 0, 1);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
    }

    &.popup_type_tooltip:before {
        border-color: rgba(0, 0, 0, 1);
    }

    &.popup_invalid {
        color: var(--color-error-content);

        &:after {
            background-color: var(--color-error);
        }

        &.popup_type_tooltip:before {
            border-color: var(--color-error);
        }
    }

    &.popup_type_tooltip {
        &.popup_direction_top-left:before,
        &.popup_direction_top-center:before,
        &.popup_direction_top-right:before {
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
        }

        &.popup_direction_left-top:before,
        &.popup_direction_left-center:before,
        &.popup_direction_left-bottom:before {
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
        }

        &.popup_direction_right-top:before,
        &.popup_direction_right-center:before,
        &.popup_direction_right-bottom:before {
            border-top-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
        }

        &.popup_direction_bottom-left:before,
        &.popup_direction_bottom-center:before,
        &.popup_direction_bottom-right:before {
            border-top-color: transparent;
            border-right-color: transparent;
            border-left-color: transparent;
        }
    }
}
