.form-field {
    position: relative; /* TODO @teryaew: we don't need it anymore? check z-indexes */

    &_size_s {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &_size_m {
        padding-top: 15px;
        padding-bottom: 15px;

        @media (--medium) {
            width: 300px; /* TODO @teryaew: think about widths for all form-field sizes */
        }
    }

    &_size_l,
    &_size_xl {
        padding-top: 15px;
        padding-bottom: 20px;
    }

    &_align_center {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    &_align_justify {
        width: 100%;
    }

    &__content {
        position: relative;
    }
}
