@import '../vars.css';

.confirmation-modal {
    &__body {
        text-align: center;
    }

    &__header {
        margin: 30px auto 0;
        width: 200px;

        @media (--medium) {
            margin-top: 40px;
        }
    }

    &__spin {
        position: absolute;
        margin-top: 27px;
        margin-left: 15px;
    }

    &__input {
        width: 92px;
        min-width: 92px;

        .input__control {
            text-align: center;
        }

        .input__label {
            top: auto;
            right: -100%;
            bottom: -28px;
            left: -100%;
            font-size: var(--font-size-s);
            transform: none;
            text-align: center;
        }
    }

    &__footer {
        opacity: .5;
        margin-top: 35px;
    }
}

@media (--medium) {
    .confirmation-modal {
        width: 375px;
        min-height: 300px;
    }
}
