.social {
    white-space: nowrap;

    &__list {
        margin-right: 10px;
        display: inline-block;
    }

    &__info {
        display: inline-block;
    }

    &__item {
        transition: opacity .2s ease;

        & + & {
            margin-left: 5px;
        }
    }

    &_theme_alfa-on-color &__item {
        opacity: .85;
    }

    &_theme_alfa-on-color &__item.link_hovered {
        opacity: 1;
    }

    &_theme_alfa-on-white &__item {
        opacity: .75;
    }

    &_theme_alfa-on-white &__item.link_hovered {
        opacity: 1;
    }
}
