@import '../vars.css';

.checkbox_theme_alfa-on-white {
    color: var(--color-content-alfa-on-white);

    .checkbox__box {
        transition: all 200ms ease;

        background: var(--color-background-control-alfa-on-white);

        border: 1px solid rgba(0, 0, 0, .3);
    }

    &.checkbox_checked {
        .checkbox__box {
            border-color: transparent;
            background: var(--color-accent-translucent);
        }

        &.checkbox_hovered .checkbox__box {
            border-color: transparent;
            background: var(--color-accent);
        }
    }

    &.checkbox_focused,
    &.checkbox_hovered {
        .checkbox__box {
            border-color: var(--color-content-alfa-on-white);
        }
    }

    &.checkbox_focused .checkbox__box {
        box-shadow: 0 0 0 1px var(--color-content-alfa-on-white);
    }

    &.checkbox_disabled {
        color: var(--color-content-minor-alfa-on-white);

        .checkbox__box {
            border-color: transparent;
            background: var(--color-background-control-disabled-alfa-on-white);
        }

        &.checkbox_checked .checkbox__box:after {
            background-image: url(./images/checkbox__box_disabled.svg);
            opacity: var(--opacity-disabled);
        }
    }
}
