@import '../vars.css';

.message {
    font-family: var(--font);
}

.message_theme_alfa-on-color {
    &.message_type_text {
        color: var(--color-content-alfa-on-color);
    }
}

.message_theme_alfa-on-white {
    &.message_type_text {
        color: var(--color-content-alfa-on-white);
    }
}

