@import '../vars.css';

.header {
    position: relative;
    height: 56px;

    @media (--medium) {
        height: 80px;
    }

    &__main-case {
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;

        font-family: var(--font);
        font-weight: var(--font-weight);

        z-index: 1000;

        transition: background 200ms ease;

        &_fixed {
            position: fixed;
            top: 0;
        }
    }

    &__inner {
        position: relative;
        margin: 0 auto;
    }

    &__logo {
        position: absolute;
        top: 0;
        left: var(--grid-gap-s);
        width: 28px;
        height: 28px;
        text-align: center;
        outline: none;
        border-radius: 50%;
        background-color: var(--color-brand-red);

        @media (--small-only) {
            & .logo {
                padding: 7px 10px;
                line-height: 10px;

                &__icon {
                    width: 8px;
                    height: 13px;
                }
            }
        }

        @media (--medium) {
            left: var(--grid-desktop-s);
        }

        @media (--xlarge) {
            left: 0;
        }
    }

    &__title {
        float: left;
        max-width: calc(100% - 125px); /* TODO teryaew: rewrite this */
        margin-left: var(--grid-gap-m);
        font-family: var(--font);
        font-size: var(--font-size-m);
        font-weight: var(--font-weight);
        line-height: 28px;
        white-space: nowrap;

        @media (--medium) {
            margin-top: 25px;
            margin-left: var(--grid-desktop-m);
            font-size: 18px;
        }

        @media (--xlarge) {
            margin-left: 62px;
        }
    }

    &__support,
    &__user,
    &__menu {
        float: right;
        position: relative;
        width: var(--small-screen-min-width);
        height: var(--small-screen-min-height);
        margin-top: -5px;

        @media (--medium) {
            width: auto;
            height: auto;
            margin-top: 15px;
        }
    }

    &__menu {
        margin-right: 4px;
    }

    &__support-icon,
    &__menu-icon {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        cursor: pointer;
        line-height: var(--small-screen-min-height);
        text-align: center;
    }

    &__support-icon,
    &__menu-icon {
        @media (--medium) {
            display: none;
        }
    }

    &__support-content {
        display: none;

        @media (--medium) {
            display: inline-block;
        }
    }

    &_theme_alfa-on-color &__main-case_colored {
        background-color: rgba(1, 1, 1, .6);
    }

    &_theme_alfa-on-white &__main-case_colored {
        background: rgba(243, 243, 243, .95);
    }

    &__top-content {
        position: relative;
    }
}

@media (--small-only) {
    .header {
        &__main-case {
            position: static; /* TODO @teryaew: why? */
            padding-top: 15px;
        }

        &_theme_alfa-on-color &__main-case_colored,
        &_theme_alfa-on-white &__main-case_colored {
            background-color: transparent;
        }
    }
}

@media (--medium) {
    .header {
        &__inner {
            padding-right: var(--grid-desktop-s);
        }

        &__logo {
            width: 48px;
            height: 48px;
            margin-top: 15px;
        }
    }
}

@media (--large-only) {
    .header {
        &__inner {
            width: 100%;
        }
    }
}

@media (--xlarge) {
    .header {
        &__inner {
            width: var(--xlarge-screen-content-width);
        }
    }
}
