@import '../vars.css';

.modal {
    position: relative;
    margin: 150px auto 0;

    border-radius: var(--border-radius-control);
    padding: var(--small-screen-padding);

    animation: modalFadeIn .25s ease-in-out;
    background: rgb(255, 255, 255);
    border: 1px solid #979797;

    &__wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, var(--opacity-minor));
        z-index: 1001;

        &_hidden {
            display: none;
        }
    }

    &__closer {
        position: absolute;
        top: 16px;
        left: 9px;

        opacity: var(--opacity-minor);

        transition: opacity .1s ease-out;

        &:hover {
            opacity: 1;
        }

        cursor: pointer;
    }

    &_height_available {
        .modal__inner {
            height: 100%;
        }
    }
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (--small-only) {
    .modal {
        background: none;
        border: none;
        margin: 0;
    }
}

@media (--large) {
    body {
        position: absolute;
        overflow-y: scroll !important;
    }
}

body.modal-open {
    position: fixed;
    overflow: hidden;
}
