.spin {
    display: none;
    background-repeat: no-repeat;
    background-size: 100%;
    animation: spin_animation .8s infinite linear;

    &_visible {
        display: inline-block;
    }

    &_size_s {
        width: 16px;
        height: 16px;
    }

    &_size_m {
        width: 20px;
        height: 20px;
    }

    &_size_l {
        width: 26px;
        height: 26px;
    }

    &_size_xl {
        width: 30px;
        height: 30px;
    }
}

.spin_theme_alfa-on-color {
    &.spin_size_s { background-image: url('./images/c_s.png'); }
    &.spin_size_m { background-image: url('./images/c_m.png'); }
    &.spin_size_l { background-image: url('./images/c_l.png'); }
    &.spin_size_xl { background-image: url('./images/c_xl.png'); }
}

.spin_theme_alfa-on-white {
    &.spin_size_s { background-image: url('./images/w_s.png'); }
    &.spin_size_m { background-image: url('./images/w_m.png'); }
    &.spin_size_l { background-image: url('./images/w_l.png'); }
    &.spin_size_xl { background-image: url('./images/w_xl.png'); }
}

@keyframes spin_animation {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

