@import '../vars.css';

.amount {
    display: inline-block;
    white-space: nowrap;

    &__minor-container {
        display: inline-block;
    }

    &__currency {
        display: inline-block;
        text-align: right;
        min-width: 1em;
    }

    &__separator, &__minor, &__currency {
        opacity: var(--opacity-minor);
    }

    .heading {
        margin: 0;
    }
}
