@import '../vars.css';

.card-number {
    font-family: var(--font);
    font-weight: var(--font-weight);

    &__dot {
        border-radius: 100%;
        border: 4px solid;
        display: inline-block;
        margin-right: 3px;
        vertical-align: middle;
        margin-bottom: 3px;

        &:first-of-type {
            margin-left: 5px;
        }

        &:last-of-type {
            margin-right: 5px;
        }
    }
}
