.error-page {
    .page__inner {
        display: table;
        width: 100%;

        &:after {
            display: none;
        }
    }

    .page__content {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        padding-bottom: 95px;
    }
}

@media (--small-only) {
    .error-page {
        .header {
            position: absolute;
            top: 0;
            left: 0;
        }

        .page__inner {
            margin: 0;
        }
    }
}
