@import '../vars.css';

.menu_theme_alfa-on-color {
    .menu-item {
        color: var(--color-content-alfa-on-color);
    }

    .menu-item_hovered {
        background-color: rgba(255, 255, 255, .1);

        &.menu-item_type_link, &.menu-item_type_dropdown {
            background-color: transparent;
        }
    }

    .menu-item_disabled {
        color: var(--color-content-minor-alfa-on-color);
    }

    @each $size in s, m, l, xl {
        &.menu_mode_check.menu_size_$(size) {
            .menu-item_checked:before {
                background-image: url('./images/menu_mode_check.menu_theme_alfa-on-color__$(size).svg');
            }
        }
    }

    &.menu_mode_radio, &.menu_mode_radio-check {
        .menu-item_checked:before {
            background-color: rgba(255, 255, 255, .9);
        }
    }

    &.menu_mode_check, &.menu_mode_radio, &.menu_mode_radio-check {
        .menu-item_disabled {
            &.menu-item_checked:before {
                opacity: var(--opacity-minor);
            }
        }
    }

    .menu__group-title {
        color: var(--color-content-minor-alfa-on-color);
    }
}
