:root {
    /**
     * Акцентный цвет. Используется, например, для кнопок подтверждающих отправку форм.
     */
    --color-accent: rgba(178, 12, 0, 1);

    /**
     * Акцентный цвет с небольшой прозрачностью. Может быть использован для
     * второстепенных акцентных элементов. Например, используется для бордеров
     * акцентных кнопок.
     */
    --color-accent-translucent: rgba(178, 12, 0, .85);

    /**
     * Дополнительный к `--color-accent` акцентный цвет. Может быть использован
     * для отображения состояния компонентов, использующих `--color-accent`.
     * Например, состояние "зажатое" для акцентной кнопки.
     */
    --color-accent-alt: rgba(158, 12, 0, 1);

    /**
     * Цвет контента на акцентном фоне.
     */
    --color-accent-content: rgba(255, 255, 255, 1);

    /**
     * Цвет контента на акцентном фоне с пониженным акцентом.
     */
    --color-accent-content-minor: rgba(255, 255, 255, .3);

    /**
     * Цвет ошибки.
     */
    --color-error: rgba(248, 96, 101, 1);

    /**
     * Цвет ошибки с небольшой прозрачностью. Может быть использован для
     * второстепенных элементов компонентов с ошибками. Например, используется
     * для бордеров полей ввода.
     */
    --color-error-translucent: rgba(248, 96, 101, .85);

    /**
     * Почти полностью прозрачный цвет ошибки. Может быть использован для заливки
     * больших площадей, которые содержат сверху контент. Например, используется
     * для заливка фона полей ввода с ошибкой.
     */
    --color-error-transparent: rgba(248, 96, 101, .08);

    /**
     * Цвет контента для плашек ошибок.
     */
    --color-error-content: rgba(255, 255, 255, .9);
}
