@import '../vars.css';

.checkbox-group {
    display: inline-block;
}

.checkbox-group_invalid {
    border-left: 1px solid var(--color-error-translucent);
    padding-left: 10px;
}

.checkbox_size_m {
    margin-bottom: 10px;
}

.checkbox_size_l {
    margin-bottom: 12px;
}

.checkbox-group_type_button {
    white-space: nowrap;

    .checkbox {
        margin-bottom: 0;
    }
}

.checkbox-group_type_line {
    .checkbox {
        margin-bottom: 0;
    }

    .checkbox_size_m {
        margin-right: 13px;
    }

    .checkbox_size_l {
        margin-right: 15px;
    }

    .checkbox:last-child {
        margin-right: 0;
    }
}
