@import '../vars.css';

.calendar_theme_alfa-on-white {
    color: var(--color-content-alfa-on-white);
    background-color: var(--color-background-alfa-on-white);

    .calendar__arrow_direction_left {
        background-image: url(./images/arrow_wl.svg);

        &.calendar__arrow_double {
            background-image: url(./images/2_arrow_wl.svg);
        }
    }

    .calendar__arrow_direction_right {
        background-image: url(./images/arrow_wr.svg);

        &.calendar__arrow_double {
            background-image: url(./images/2_arrow_wr.svg);
        }
    }
}
