.icon_theme_alfa-on-color {
    @each $size in s, m, l, xl {
        &.icon_size_$(size) {
            @each $name in body,logout {
                &.icon_user_$(name) {
                    background-image: url('./images/user/icon_user_$(name)__$(size)__color.svg');
                }
            }
        }
    }
}
