.icon {
    display: inline-block;
    vertical-align: middle;

    background-repeat: no-repeat;
}

.icon_size_s {
    width: 18px;
    height: 18px;
}

.icon_size_m {
    width: 24px;
    height: 24px;
}

.icon_size_l {
    width: 30px;
    height: 30px;
}

.icon_size_xl {
    width: 36px;
    height: 36px;
}

.icon_size_xxl {
    width: 48px;
    height: 48px;
}
