.icon_theme_alfa-on-color {
    @each $size in s, m, l, xl {
        &.icon_size_$(size) {
            @each $name in chf, eur, gbp, jpy, rub, usd {
                &.icon_currency_$(name) {
                    background-image: url('./images/currency/icon_currency_$(name)__$(size)__color.svg');
                }
            }
        }
    }
}
