.icon_theme_alfa-on-colored {
    @each $size in s, m, l, xl {
        &.icon_size_$(size) {
            @each $name in belkart, maestro, mastercard, visa, visaelectron {
                &.icon_card_$(name) {
                    background-image: url('./images/card/icon_card_$(name)__$(size)__colored.svg');
                }
            }
        }
    }
}
