.icon_theme_alfa-on-white {
    @each $size in s, m, l, xl {
        &.icon_size_$(size) {
            @each $name in calendar, close, email, help, helpfilled, info, printer, search {
                &.icon_tool_$(name) {
                    background-image: url('./images/tool/icon_tool_$(name)__$(size)__white.svg');
                }
            }
        }
    }

    /* TODO @teryaew: add other icons later */
    @each $size in m, xl, xxl {
        &.icon_size_$(size) {
            &.icon_tool_mobile {
                background-image: url('./images/tool/icon_tool_mobile__$(size)__white.svg');
            }
        }
    }

    @each $size in m, xxl {
        &.icon_size_$(size) {
            @each $name in site, atm, office {
                &.icon_tool_$(name) {
                    background-image: url('./images/tool/icon_tool_$(name)__$(size)__white.svg');
                }
            }
        }
    }

    @each $size in s, m, l, xl, xxl {
        &.icon_size_$(size) {
            @each $name in payment_rounded_plus, payment_plus {
                &.icon_tool_$(name) {
                    background-image: url('./images/tool/icon_tool_$(name)__$(size)__white.svg');
                }
            }
        }
    }
}
