.icon_theme_alfa-on-white {
    @each $size in s, m, l, xl {
        &.icon_size_$(size) {
            @each $name in check,down,error,fail,left,ok,ok_filled,repeat,right,up {
                &.icon_action_$(name) {
                    background-image: url('./images/action/icon_action_$(name)__$(size)__white.svg');
                }
            }
        }
    }

    /* TODO @teryaew: add other icons later */

    @each $size in m {
        &.icon_size_$(size) {
            @each $name in more {
                &.icon_action_$(name) {
                    background-image: url('./images/action/icon_action_$(name)__$(size)__white.svg');
                }
            }
        }
    }

    @each $size in m, xxl {
        &.icon_size_$(size) {
            @each $name in call {
                &.icon_action_$(name) {
                    background-image: url('./images/action/icon_action_$(name)__$(size)__white.svg');
                }
            }
        }
    }
}
