.icon_theme_alfa-on-color {
    @each $size in m, xl {
        &.icon_size_$(size) {
            @each $name in appliances, auto, books_movies, business, charity, dress, education, entertainment, family, finance, forgot, gasoline, gibdd_fines, health, hobby, housekeeping, investments, loans, medicine, mobile_internet, mortgage, other, person, pets, rent, repairs, restaurants, shopping, tax_fines, transport, travel, user {
                &.icon_category_$(name) {
                    background-image: url('./images/category/icon_category_$(name)__$(size)__color.svg');
                }
            }
        }
    }
}
