.icon_theme_alfa-on-white {
    @each $size in s, m, l, xl {
        &.icon_size_$(size) {
            @each $name in default, csv, doc, pdf, png, ppt, sketch, svg, txt, xls, xml, 1c {
                &.icon_format_$(name) {
                    background-image: url('./images/format/icon_format_$(name)__$(size)__white.svg');
                }
            }
        }
    }
}
