.icon_theme_alfa-on-colored {
    @each $size in s, m, l, xl {
        &.icon_size_$(size) {
            @each $name in error, ok {
                &.icon_action_$(name) {
                    background-image: url('./images/action/icon_action_$(name)__$(size)__colored.svg');
                }
            }
        }
    }
}
