.icon_theme_alfa-on-white {
    @each $size in s, m {
        &.icon_size_$(size) {
            @each $name in facebook, twitter, vk {
                &.icon_network_$(name) {
                    background-image: url('./images/network/icon_network_$(name)__$(size)__white.svg');
                }
            }
        }
    }
}
