@import '../vars.css';

.radio {
    font-family: var(--font);
    font-weight: var(--font-weight);

    display: inline-block;
    white-space: nowrap;
    position: relative;

    cursor: pointer;
    outline: none;

    &__control {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        z-index: -1;
    }

    &__box {
        display: inline-block;
        vertical-align: middle;
        position: relative;

        border-radius: 50%;
        box-sizing: border-box;

        &:after {
            position: absolute;

            top: 50%;
            left: 50%;

            content: '';

            visibility: hidden;
            opacity: 0;

            border-radius: 50%;

            transition:
                transform .05s ease-out,
                opacity .05s ease-out,
                visibility 0s linear .05s;
        }
    }

    &__text {
        display: inline-block;
        white-space: normal;
        vertical-align: middle;
    }

    &_size_m {
        font-size: var(--font-size-m);
    }

    &_size_m &__box {
        width: 14px;
        height: 14px;

        margin-right: 6px;

        &:after {
            margin-top: -3px;
            margin-left: -3px;

            width: 6px;
            height: 6px;
        }
    }

    &_size_l {
        font-size: var(--font-size-xl);
    }

    &_size_l &__box {
        width: 18px;
        height: 18px;

        margin-right: 10px;

        &:after {
            margin-top: -4px;
            margin-left: -4px;

            width: 8px;
            height: 8px;
        }
    }

    &_checked &__box:after {
        visibility: visible;
        opacity: 1;
    }

    &_disabled {
        cursor: default;
    }
}

.radio_type_button {
    display: inline-block;

    .radio__control {
        position: absolute;

        visibility: hidden;
    }

    &.radio_checked .button__text {
        font-weight: var(--font-weight);
    }

    /* FIXME: maybe remove cascade? */
    .button_checked {
        cursor: default;
    }
}

.radio_width_available {
    width: 100%;
}

.radio_invalid {
    .radio__box {
        border-color: var(--color-error-translucent);
    }

    &.radio_focused,
    &.radio_hovered {
        .radio__box {
            border-color: var(--color-error-translucent);
            box-shadow: 0 0 0 1px var(--color-error-translucent);
        }
    }
}
