@import '../vars.css';

.app {
    &__title,
    &__menu,
    &__content {
        width: 640px;
        margin: 0 auto;
        padding: 0 var(--grid-gap-s);

        @media (--large) {
            width: 700px;
        }
    }

    &__title + &__content {
        margin-top: 36px;
    }

    &__menu {
        margin-bottom: 40px;
    }
}

@media (--small-only) {
    .app {
        &__title,
        &__content {
            width: 100%;
            padding: 0 var(--grid-gap-s);
        }

        &__menu {
            overflow: hidden;
            width: 100%;

            &:after {
                content: '';
                display: block;
                margin-bottom: -20px;
            }
        }

        &__menu-case {
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            padding: 0 0 20px;
        }

        &__menu-content {
            display: inline-block;
            padding: 0 var(--grid-gap-s) 0;
        }
    }
}
