@import '../vars.css';

.link {
    font-family: var(--font);
    font-weight: var(--font-weight);
    line-height: var(--line-height);

    cursor: pointer;

    transition: color .2s ease-out, opacity .2s ease-in-out;

    text-decoration: none;

    outline: none;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);

    &_underlined &__text {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        padding-bottom: 1px;

        transition: border-color 200ms ease-out;
    }

    &__icon {
        margin-right: 5px;
        vertical-align: middle;
        display: inline-block;
        line-height: 0; /* TODO @teryaew: what's this? */
    }

    &_size_xs {
        font-size: var(--font-size-xs);
    }

    &_size_s {
        font-size: var(--font-size-s);
    }

    &_size_m {
        font-size: var(--font-size-m);
    }

    &_size_l {
        font-size: var(--font-size-xl);
    }

    &_size_xl {
        font-size: var(--font-size-2xl);
    }

    &_pseudo &__text {
        border-bottom-style: dotted;
    }

    &_disabled {
        cursor: default;
    }

    &_disabled &__icon {
        opacity: .3;
    }

    &_minor {
        opacity: .5;

        &.link_hovered {
            opacity: 1;
        }
    }
}

.link_theme_alfa-on-color {
    color: var(--color-content-alfa-on-color);

    &.link_underlined .link__text {
        border-color: rgba(255, 255, 255, .5);
    }

    &.link_hovered,
    &.link_focused {
        color: var(--color-content-accent-alfa-on-color);

        &.link_underlined .link__text {
            border-color: rgba(255, 255, 255, .9);
        }
    }

    &.link_disabled {
        color: var(--color-content-minor-alfa-on-color);

        &.link_underlined .link__text {
            border-color: transparent;
        }
    }
}

.link_theme_alfa-on-white {
    color: var(--color-content-alfa-on-white);

    &.link_underlined .link__text {
        border-color: rgba(0, 0, 0, .4);
    }

    &.link_hovered,
    &.link_focused {
        color: var(--color-content-accent-alfa-on-color);

        &.link_underlined .link__text {
            border-color: rgba(178, 12, 0, .4);
        }
    }

    &.link_disabled {
        color: var(--color-content-minor-alfa-on-white);

        &.link_underlined .link__text {
            border-color: transparent;
        }
    }
}

