.form {
    padding-bottom: 60px;

    &_align_left {
        text-align: left;
    }

    &_align_center {
        text-align: center;
    }

    &_align_right {
        text-align: right;
    }

    &_align_justify {
        text-align: justify;
    }

    &__header {
        padding-bottom: 10px;

        @media (--medium) {
            padding-bottom: 20px;
        }
    }

    &__footer {
        padding-top: 15px;
    }
}

.form_view_line {
    &.form_size_s,
    &.form_size_m {
        .form__footer {
            padding-left: 115px;
        }
    }

    &.form_size_l,
    &.form_size_xl {
        .form__footer {
            padding-left: 165px;
        }
    }
}
