.logo {
    display: inline-block;
    line-height: 0;

    &__icon {
        display: inline-block;
    }

    &__text {
        display: none;
    }

    &__icon,
    &__text {
        vertical-align: middle;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% auto;
    }

    &_size_s {
        padding: 12px 17px;
        line-height: 21px;
    }

    &_size_s &__icon {
        width: 14px;
        height: 23px;
    }

    &_size_s &__text {
        width: 60px;
        height: 11px;
        margin-left: 7px;
    }

    &_size_m {
        padding: 11px 12px;
        line-height: 36px;
    }

    &_size_m &__icon {
        width: 23px;
        height: 37px;
    }

    &_size_m &__text {
        width: 89px;
        height: 16px;
        margin-left: 11px;
    }

    &_size_l {
        padding: 14px 15px;
        line-height: 48px;
    }

    &_size_l &__icon {
        width: 30px;
        height: 48px;
    }

    &_size_l &__text {
        width: 119px;
        height: 21px;
        margin-left: 15px;
    }

    &_size_xl {
        padding: 18px 19px;
        line-height: 61px;
    }

    &_size_xl &__icon {
        width: 39px;
        height: 61px;
    }

    &_size_xl &__text {
        width: 148px;
        height: 26px;
        margin-left: 19px;
    }

    &_theme_alfa-on-color &__icon {
        background-image: url(./images/logo__icon_theme_alfa-on-color.svg);
    }

    &_theme_alfa-on-color &__text {
        background-image: url(./images/logo__text_theme_alfa-on-color.svg);
    }

    &_theme_alfa-on-white &__icon {
        background-image: url(./images/logo__icon_theme_alfa-on-white.svg);
    }

    &_theme_alfa-on-white &__text {
        background-image: url(./images/logo__text_theme_alfa-on-white.svg);
    }
}

@media (--large) {
    .logo__text {
        display: inline-block;
    }
}
