@import '../vars.css';

.textarea {
    display: inline-block;
    vertical-align: top;
    position: relative;
    min-width: 150px;
    font-family: var(--font);
    font-weight: var(--font-weight);

    &_has-fixed-label {
        transition: none;
    }

    &__label {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        line-height: 38px;
        pointer-events: none;
        transform: scale(1) translate3d(0, 0, 0);
        transform-origin: 0 100%;
        transition-duration: 200ms;
        transition-property: color, transform;
        transition-timing-function: cubic-bezier(.25, .1, .25, 1);
        will-change: transform;
        white-space: nowrap;
    }

    &_focused,
    &_has-fixed-label,
    &_has-value {
        .input__label {
            transform: scale(.75) translate3d(0, -38px, 0);
        }
    }

    &__control {
        display: inline-block;
        position: relative;
        width: 100%;
        min-height: 0;
        margin: 0;
        padding: 0;
        outline: none;
        font: inherit;
        font-weight: var(--font-weight);
        line-height: var(--line-height-condensed);
        background: none;
        border: 0;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        &::-webkit-search-decoration {
            -webkit-appearance: none;
        }

        &::-webkit-search-cancel-button {
            display: none;
        }

        &::-webkit-input-placeholder {
            text-indent: 0;
            transition: opacity .2s ease-in-out;
        }

        &::-moz-placeholder {
            opacity: 1;
            transition: opacity .2s ease-in-out;
        }

        &:-ms-input-placeholder {
            transition: opacity .2s ease-in-out;
        }

        &::-ms-clear {
            display: none;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:after {
            -webkit-text-fill-color: #fff !important;

            /* Hack from http://stackoverflow.com/a/29350537 */
            transition: background-color 5000s ease-in-out 0s;
        }

        .textarea_autosize & {
            overflow-y: hidden;
        }

        .textarea_disabled & {
            cursor: default;
            resize: none;
        }

        .textarea_resize_both & {
            resize: both;
        }

        .textarea_resize_horizontal & {
            resize: horizontal;
        }

        .textarea_resize_none & {
            resize: none;
        }

        .textarea_resize_vertical & {
            resize: vertical;
        }

        .textarea_size_s & {
            font-size: var(--font-size-s);
            padding: 8px 10px;
        }

        .textarea_size_m & {
            font-size: var(--font-size-m);
            padding: 10px 12px;
        }

        .textarea_size_l & {
            font-size: var(--font-size-l);
            padding: 12px 15px;
        }

        .textarea_size_xl & {
            font-size: var(--font-size-xl);
            padding: 14px 15px;
        }

        .textarea_width_available & {
            width: 100%;
            min-width: 0;
        }
    }

    &_has-label:not(&_has-fixed-label) {
        &::-webkit-input-placeholder {
            text-indent: 0;
            opacity: 0;
        }

        &::-moz-placeholder {
            opacity: 0;
        }

        &:-ms-input-placeholder {
            opacity: 0;
        }

        &.textarea_focused {
            &::-webkit-input-placeholder {
                opacity: 1;
            }

            &::-moz-placeholder {
                opacity: 1;
            }

            &:-ms-input-placeholder {
                opacity: 1;
            }
        }
    }

    &__tip {
        /* TODO teryaew: spread for all sizes */
        display: block;
        margin-top: 10px;
        font-size: var(--font-size-xs);

        & .link {
            line-height: 1;
        }
    }
}

.textarea_invalid {
    border-bottom-color: var(--color-error-translucent);

    & .textarea__label {
        color: var(--color-error);
    }

    &.textarea_focused {
        border-bottom-color: var(--color-error-translucent);
        box-shadow: inset 0 -1px 0 var(--color-error-translucent);
    }
}
