@import '../vars.css';

.textarea_theme_alfa-on-color {
    color: var(--color-content-alfa-on-color);
    background: var(--color-background-control-alfa-on-color);
    border-bottom-color: rgba(255, 255, 255, .5);
    border-bottom-style: solid;
    border-bottom-width: 1px;

    &.textarea_hovered,
    &.textarea_focused {
        border-bottom-color: var(--color-content-alfa-on-color);
    }

    &.textarea_focused {
        border-bottom-color: var(--color-content-alfa-on-color);
        box-shadow: inset 0 -1px 0 var(--color-content-alfa-on-color);
    }

    &.textarea_disabled {
        border-bottom-color: transparent;

        .textarea__control {
            color: var(--color-content-minor-alfa-on-color);
        }
    }
}
