@import '../vars.css';

.textarea_theme_alfa-on-white {
    color: var(--color-content-alfa-on-white);
    background: var(--color-background-control-alfa-on-white);
    border-bottom-color: rgba(0, 0, 0, .3);
    border-bottom-style: solid;
    border-bottom-width: 1px;

    &.textarea_hovered,
    &.textarea_focused {
        border-bottom-color: rgba(0, 0, 0, .9);
    }

    &.textarea_focused {
        border-bottom-color: var(--color-background-control-focused-alfa-on-white);
        box-shadow: inset 0 -1px 0 var(--color-content-alfa-on-white);
    }

    &.textarea_disabled {
        border-bottom-color: transparent;

        .textarea__control {
            color: var(--color-content-minor-alfa-on-white);
        }
    }
}
