@import '../vars.css';

.radio-group {
    display: inline-block;
    outline: none;

    .radio_size_s,
    .radio_size_m {
        margin-bottom: 10px;
    }

    .radio_size_l,
    .radio_size_xl {
        margin-bottom: 12px;
    }
}

.radio-group_invalid {
    border-left: 1px solid var(--color-error-translucent);
    padding-left: 10px;
}

.radio-group_type_button {
    white-space: nowrap;

    .radio {
        margin-bottom: 0;
    }
}

.radio-group_type_line {
    .radio {
        margin-bottom: 0;
    }

    .radio_size_s,
    .radio_size_m {
        margin-right: 13px;
    }

    .radio_size_l,
    .radio_size_xl {
        margin-right: 15px;
    }

    .radio:last-child {
        margin-right: 0;
    }
}

.radio-group_width_available {
    width: 100%;
    display: table;

    .radio {
        display: table-cell;
        width: auto;
    }
}
