@import '../vars.css';

.copyright {
    opacity: .5;
    font-family: var(--font);
    font-weight: var(--font-weight);
    font-size: var(--font-size-xs);
    line-height: var(--line-height);

    &__years {
        display: block;

        @media (--medium) {
            display: inline-block;
        }
    }

    &__dot {
        display: none;

        @media (--medium) {
            display: inline-block;
        }
    }
}
