.button_inline-submit {
    &.button_theme_alfa-on-white,
    &.button_theme_alfa-on-color {
        /* We have problems with disabled theme styles and default hardcoded size styles */
        min-height: 0;
        padding: 0;
        line-height: 1;

        opacity: 1;
        display: block;
        width: 40px;
        height: 40px;
        margin-right: -7px;
        margin-left: 7px;
        cursor: pointer;
        background: none;
        background-image: url('./images/next-step-control.svg');
        background-position: center 7px;
        background-repeat: no-repeat;
        background-size: 26px 26px;
        border: none;
        border-radius: 0;
        box-shadow: none;
        transition: opacity .25s ease-in-out;

        button&.button_disabled,
        button&.button_focused-hard,
        button&.button_pressed,
        button&.button_hovered {
            background: none;
            background-image: url('./images/next-step-control.svg');
            background-position: center 7px;
            background-repeat: no-repeat;
            background-size: 26px 26px;
            border: none;
            border-radius: 0;
            box-shadow: none;
        }

        button&.button_disabled {
            opacity: .3;
            cursor: default;
        }
    }
}
