### Документация по интерфейсам компонентов ARUI Feather

<% components.forEach(component => { %>
#### [<%- component.name %>](./<%- component.source %>/)
<%- (component.description || '').split('\n')[0] %>

<% }) %>
