@import '../vars.css';

body {
    background-attachment: fixed;
    background-color: #2a2e37;
    background-image: linear-gradient(to right, rgb(35, 39, 48), rgb(55, 59, 68));
    background-repeat: no-repeat;
    background-size: cover;
}

.page {
    table-layout: inherit;
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;

    &_theme_alfa-on-color {
        color: var(--color-content-accent-alfa-on-color);
    }

    &_theme_alfa-on-white {
        color: var(--color-content-accent-alfa-on-white);
    }

    &_view_text {
        .page__content {
            color: var(--color-content-accent-alfa-on-white);
            background: rgba(255, 255, 255, 1);
        }
    }

    &__header,
    &__footer {
        display: table-row;
    }

    &__footer-inner {
        margin: auto;
    }

    &__content {
        display: table-row;
        max-width: 1000px; /* 100+(150+700+150) */
        margin: auto;
        height: 100%;

        @media (--medium) {
            padding-top: 100px;
        }
    }

    &__content-inner {
        display: table-cell;
        vertical-align: middle;
    }
}

@media (--large) {
    .page {
        &__content {
            /* padding-left: 100px; */
            width: var(--large-screen-content-width);
        }

        &__footer-inner {
            width: var(--large-screen-content-width);
        }
    }
}

@media (--xlarge) {
    .page {
        &__footer-inner {
            width: var(--xlarge-screen-content-width);
        }
    }
}
