*,
*:after,
*:before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(0, 0, 0, .9);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5;
}

#react-app {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: inherit;
    transition: filter .1s ease;
}

.body_modal_opened {
    #react-app {
        filter: blur(10px);
    }

    .app-background {
        transform: scale(1.1);
    }
}
