@import './vars/font.css';
@import './vars/color.css';
@import './vars/color-theme_alfa-on-color.css';
@import './vars/color-theme_alfa-on-white.css';
@import './vars/opacity.css';
@import './vars/border-radius.css';
@import './vars/shadow.css';

:root {
    --small-screen-padding: 12px;
    --small-header-height: 80px;

    --large-screen-content-width: 1000px;
    --xlarge-screen-content-width: 1100px;

    /**
     * New vars
     * TODO teryaew: refactor all
     */
    --color-brand-red: rgba(240, 50, 38, 1);
    --color-red: rgba(240, 50, 38, .9);
    --color-red-hovered: rgba(240, 50, 38, 1);
    --color-red-pressed: rgba(189, 41, 30, .9);
    --color-red-disabled: rgba(236, 52, 46, .3);

    --grid-gap-s: 12px;
    --grid-gap-m: 48px;
    --grid-gap-l: 72px;

    --grid-desktop-s: 24px;
    --grid-desktop-m: 86px;

    --small-screen-min-width: 36px;
    --small-screen-min-height: 36px;
}
