.input-group {
    display: inline-block;
    outline: none;
    white-space: nowrap;

    .input {
        margin-bottom: 0;
    }

    &_width_available {
        width: 100%;
        display: table;
    }

    &_width_available &__input-case {
        display: table-cell;
    }
}
