@import '../vars.css';

.input-group_theme_alfa-on-white {
    background: var(--color-background-control-alfa-on-white);
    border-radius: var(--border-radius-control);

    .input {
        background: transparent;
    }
}
