@import '../vars.css';

.paragraph {
    margin: 0 0 15px;
    font-family: var(--font);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height);

    &_view_lead {
        margin-bottom: 25px;
        font-size: var(--font-size-xl);
    }

    &_view_accent {
        font-weight: var(--font-weight-accent);
    }

    &_theme_alfa-on-color {
        color: var(--color-content-alfa-on-color);

        &.paragraph_view_accent {
            color: var(--color-content-accent-alfa-on-color);
        }
    }

    &_theme_alfa-on-white {
        color: var(--color-content-alfa-on-white);

        &.paragraph_view_accent {
            color: var(--color-content-accent-alfa-on-white);
        }
    }
}
