@import '../vars.css';

.menu-item {
    position: relative;
    font-family: var(--font);
    cursor: pointer;
    line-height: 1.4;
    transition: background 200ms ease;

    &_disabled {
        cursor: default;
    }

    &_checked {
        cursor: default;
    }

    &_hidden {
        display: none;
    }

    &_type_link {
        cursor: default;
    }

    &_type_link &__link {
        outline: none;
    }
}
