@import '../vars.css';

.label {
    font-family: var(--font);
    font-weight: var(--font-weight);
    line-height: var(--line-height);

    &__inner {
        display: inline-block;
        line-height: var(--line-height-condensed);
        max-width: 100%;
    }

    &_no-wrap &__inner {
        display: inline;
        white-space: nowrap;
    }

    &_size_xs {
        font-size: var(--font-size-xs);
    }

    &_size_s {
        font-size: var(--font-size-s);
    }

    &_size_m {
        font-size: var(--font-size-m);
    }

    &_size_l {
        font-size: var(--font-size-l);
    }

    &_size_xl {
        font-size: var(--font-size-xl);
    }
}

.label_theme_alfa-on-color {
    color: var(--color-content-alfa-on-color);

    &.label_disabled,
    &.label_minor {
        color: var(--color-content-minor-alfa-on-color);
    }
}

.label_theme_alfa-on-white {
    color: var(--color-content-alfa-on-white);

    &.label_disabled,
    &.label_minor {
        color: var(--color-content-minor-alfa-on-white);
    }
}

