@import '../vars.css';

.footer {
    font-family: var(--font);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight);

    &_theme_alfa-on-color {
        color: var(--color-content-alfa-on-color);
    }

    &_theme_alfa-on-white {
        color: var(--color-content-alfa-on-white);
    }

    &__inner {
        margin: auto;
        padding: 30px 0 15px;

        &:after {
            content: '';
            clear: both;
            display: table;
        }
    }

    &__menu {
        text-align: center;
        margin-bottom: 10px;
    }

    &__additional {
        opacity: .5;
        line-height: var(--line-height);
        text-align: center;
    }

    &__info {
        @media (--medium) {
            margin-bottom: 10px;
        }
    }

    &__copyright {
        text-align: center;
    }

    &__social {
        margin-bottom: 15px;
    }
}

/* @media (--small-only) {
    .footer {
        &__inner {
            padding-right: var(--small-screen-padding);
            padding-left: var(--small-screen-padding);
        }

        &__menu {
            width: 100%;
            padding-top: 0;
            padding-bottom: 25px;

            & .menu-item {
                display: block;
                padding-right: 0;
                padding-left: 0;
            }
        }

        &__additional {
            clear: both;
            float: none;
            width: 100%;
            padding: 0;
        }

        &__info {
            clear: both;
            float: none;
            width: auto;
            padding-top: 15px;
        }

        &__copyright {
            opacity: .5;
            text-align: center;
        }
    }
}

@media (--medium) {
    .footer {
        &__additional:first-of-type + &__info &__copyright:first-of-type {
            padding-top: 40px;
        }
    }
}

@media (--medium-only) {
    .footer {
        &__menu {
            width: 50%;
            padding-top: 0;
            padding-bottom: 0;

            & .menu-item {
                display: block;
                padding-right: 0;
                padding-left: 0;
            }
        }

        &__additional,
        &__info {
            width: 50%;
            padding-left: 0;
            padding-right: 60px;
        }

        &__additional:first-of-type {
            padding-top: 40px;
        }

        &__menu + &__additional {
            padding-top: 13px;
            padding-bottom: 15px;
        }

        &__menu,
        &__additional:first-of-type {
            padding-right: 60px;
            padding-left: 60px;
        }
    }
}

@media (--large) {
    .footer {
        &__menu {
            width: 53%;
            padding-left: 10px;

            & .menu {
                margin-left: -12px;

                .menu-item.menu-item_type_link:first-child {
                    padding-left: 12px;
                }
            }
        }

        &__additional:first-of-type {
            padding-top: 40px;
        }

        &__menu + &__additional,
        &__menu ~ &__info {
            padding-top: 13px;
        }

        &__menu ~ &__info &__social {
            margin-top: -39px;
        }

        &__additional {
            width: 26%;
            padding-left: 40px;
            padding-right: 30px;
        }

        &__info {
            width: 21%;
        }
    }
}

@media (--large-only) {
    .footer {
        &__additional:first-of-type {
            padding-left: 10px;
        }
    }
}

@media (--xlarge) {
    .footer {
        &__menu,
        &__additional {
            padding-left: 60px;
        }
    }
}
*/
