.collapse {
    &__content {
        position: relative;
    }

    &__link {
        outline: none;

        &:after {
            content: '';
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-left: 5px;
            background-size: 100% 100%;
        }
    }

    &__content {
        height: 0;
        visibility: hidden;
        transition: height 0.2s;
        overflow: hidden;
    }

    &_expanded &__content {
        height: auto;
        visibility: visible;
        padding-bottom: 15px;
    }

    &_expanded &__link:after {
        transform: scaleY(-1);
    }

    &_theme_alfa-on-color &__link:after {
        background-image: url('./images/collapse__link_theme_alfa-on-color.svg');
    }

    &_theme_alfa-on-white &__link:after {
        background-image: url('./images/collapse__link_theme_alfa-on-white.svg');
    }
}
