@import '../vars.css';

.list {
    margin: 25px 0;
    padding: 0 0 0 40px;
    font-family: var(--font);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-light);
    line-height: var(--line-height);

    & & {
        padding-left: 15px;
    }

    &__item {
        margin-bottom: 10px;
        margin-left: -1.1em;
        list-style: none;
        font-size: var(--font-size-m);
        text-indent: -1.45em;

        &:before {
            content: '\2022\a0\a0';
            font-size: 18px;
        }
    }

    &_type_ordered {
        counter-reset: item;
    }

    &_type_ordered &__item {
        padding-left: 1em;

        &:before {
            content: counter(item) '.\a0\a0';
            counter-increment: item;
        }
    }
}

.list_theme_alfa-on-color {
    color: var(--color-content-alfa-on-color);
}

.list_theme_alfa-on-white {
    color: var(--color-content-alfa-on-white);
}
