@import '../vars.css';

.input {
    display: inline-block;
    position: relative;
    min-width: 150px;
    font-family: var(--font);
    font-weight: var(--font-weight-light);
    text-align: left;
    text-rendering: optimizeLegibility;
    background: none;
    border-top: none;
    border-right: none;
    border-left: none;
    box-shadow: none;
    transition-delay: 0s;
    transition-duration: 300ms;
    transition-property: border-bottom-color, box-shadow, width;
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);

    &_invalid,
    &_focused,
    &_has-value {
        .input__label {
            transform: scale(.75) translate3d(0, -38px, 0);
        }
    }

    &__label {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        line-height: 38px;
        pointer-events: none;
        transform: scale(1) translate3d(0, 0, 0);
        transform-origin: 0 100%;
        transition-duration: 200ms;
        transition-property: color, transform;
        transition-timing-function: cubic-bezier(.25, .1, .25, 1);
        will-change: transform;
        white-space: nowrap;
    }

    &__tip {
        /* TODO teryaew: spread for all sizes */
        display: block;
        margin-top: 8px;
        font-size: var(--font-size-xs);

        & .link {
            line-height: 1;
        }
    }

    &__box {
        display: block;
        position: relative;
        user-select: none;
        -webkit-touch-callout: none;
    }

    &__control {
        display: inline-block;
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        outline: none;
        font: inherit;
        font-weight: var(--font-weight);
        line-height: var(--line-height-condensed);
        background: none;
        border: 0;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        &::-webkit-search-decoration {
            -webkit-appearance: none;
        }

        &::-webkit-search-cancel-button {
            display: none;
        }

        &::-webkit-input-placeholder {
            text-indent: 0;
            transition: opacity .2s ease-in-out;
        }

        &::-moz-placeholder {
            opacity: 1;
            transition: opacity .2s ease-in-out;
        }

        &:-ms-input-placeholder {
            transition: opacity .2s ease-in-out;
        }

        &::-ms-clear {
            display: none;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:after {
            -webkit-text-fill-color: #fff !important;

            /* Hack from http://stackoverflow.com/a/29350537 */
            transition: background-color 5000s ease-in-out 0s;
        }
    }

    &_has-label {
        .input__control {
            &::-webkit-input-placeholder {
                opacity: 0;
            }

            &::-moz-placeholder {
                opacity: 0;
            }

            &:-ms-input-placeholder {
                opacity: 0;
            }
        }

        &.input_focused {
            .input__control {
                &::-webkit-input-placeholder {
                    opacity: 1;
                }

                &::-moz-placeholder {
                    opacity: 1;
                }

                &:-ms-input-placeholder {
                    opacity: 1;
                }
            }
        }
    }

    &_has-clear &__control {
        padding-right: 0;
        text-overflow: ellipsis;
    }

    &__clear {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        cursor: text;
        background: 50% 50% no-repeat;
        background-position: center center;
        transition: opacity 0.2s ease-out;

        &_visible {
            opacity: 0.5;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }
    }

    &_has-icon &__icon {
        position: absolute;
        top: 0;
        right: 0;
        text-align: center;
        transition: all 200ms ease;
    }

    &_has-icon &__control {
        padding-right: 2px;
        text-overflow: ellipsis;
    }

    &_width_available {
        width: 100%;
        min-width: 0;
    }

    &_has-addons &__box,
    &__addons {
        display: table-cell;
        vertical-align: top;
    }

    &__addons {
        width: 1px;
    }

    &__addons-layout {
        display: table;
        width: 100%;
        height: 100%;
        margin-top: -1px; /* -1px border */
    }

    &_type_hidden {
        display: none !important;
    }

    /* reset for ios */
    &__control:disabled {
        opacity: 1;
    }
}

.input_focused {
    &.input_mode_link {
        .input__control {
            padding-left: 0;
        }
    }
}

.input_disabled {
    .input__clear {
        display: none;
    }

    .input__box,
    .input__control {
        cursor: default;
    }
}

.input_type_password .input__control {
    text-overflow: clip;
}

.input_size_s {
    height: 30px;
    font-size: var(--font-size-s);

    .input__control {
        padding: 7px 0 6px;
    }

    &.input_has-clear .input__box,
    &.input_has-icon .input__box {
        padding-right: 28px; /* -2px borders */
    }

    &.input_has-clear .input__clear,
    &.input_has-icon .input__icon { /* TODO: Maybe icon should not have set this width/height */
        width: 28px;
        height: 28px;
        line-height: 26px;
    }
}

.input_size_m {
    height: 40px;
    font-size: var(--font-size-m);

    .input__control {
        padding: 10px 0;
    }

    &.input_has-clear .input__box,
    &.input_has-icon .input__box {
        padding-right: 28px;
    }

    &.input_has-clear .input__clear,
    &.input_has-icon .input__icon {
        width: 38px;
        height: 38px;
        margin-right: -7px;
        line-height: 36px;
        text-align: center;
    }

    &.input_mode_link {
        .input__box {
            height: 38px;
            padding: 0 12px;
        }

        .input__trigger {
            line-height: 40px;
        }
    }
}

.input_size_l {
    height: 50px;
    font-size: var(--font-size-l);

    .input__control {
        padding: 14px 0 13px;
    }

    &.input_has-clear .input__box,
    &.input_has-icon .input__box {
        padding-right: 48px;
    }

    &.input_has-clear .input__clear,
    &.input_has-icon .input__icon {
        width: 48px;
        height: 48px;
        line-height: 46px;
    }
}

.input_size_xl {
    font-size: var(--font-size-xl);
    height: 60px;

    .input__control {
        padding: 17px 0 16px;
    }

    &.input_has-clear .input__box,
    &.input_has-icon .input__box {
        padding-right: 60px;
    }

    &.input_has-clear .input__clear,
    &.input_has-icon .input__icon {
        width: 58px;
        height: 58px;
        line-height: 56px;
    }
}

.input_size_xxl {
    font-size: var(--font-size-3xl);
    height: 70px;

    .input__control {
        padding: 17px 0 11px;
    }

    &.input_has-clear .input__box,
    &.input_has-icon .input__box {
        padding-right: 72px;
    }

    &.input_has-clear .input__clear,
    &.input_has-icon .input__icon {
        width: 70px;
        height: 70px;
        line-height: 68px;
    }
}

.input_invalid {
    border-bottom-color: var(--color-error-translucent);

    & .input__label {
        color: var(--color-error);
    }

    &.input_focused {
        border-bottom-color: var(--color-error-translucent);
        box-shadow: inset 0 -1px 0 var(--color-error-translucent);
    }
}
