@import '../vars.css';

.input_theme_alfa-on-color {
    color: var(--color-content-alfa-on-color);
    background: transparent;
    border-bottom-color: rgba(255, 255, 255, .5);
    border-style: solid;
    border-width: 1px;

    .input__label {
        color: rgba(255, 255, 255, .5);
    }

    &.input_focused,
    &.input_has-fixed-label,
    &.input_has-value {
        &:not(.input_invalid) {
            .input__label {
                color: var(--color-content-alfa-on-color);
            }
        }
    }

    .input__control {
        color: var(--color-content-alfa-on-color);

        &::-webkit-input-placeholder {
            color: var(--color-content-minor-alfa-on-color);
        }

        &::-moz-placeholder {
            color: var(--color-content-minor-alfa-on-color);
        }

        &:-ms-input-placeholder {
            color: var(--color-content-minor-alfa-on-color);
        }
    }

    .input__clear {
        background-image: url(./images/input__clear_color.svg);
    }

    &.input_has-icon {
        .input__icon {
            opacity: var(--opacity-minor);
            color: var(--color-content-alfa-on-color);
        }
    }

    &.input_hovered {
        border-bottom-color: var(--color-content-alfa-on-color);
    }

    &.input_focused {
        border-bottom-color: var(--color-content-alfa-on-color);
        box-shadow: inset 0 -1px 0 var(--color-content-alfa-on-color);
    }

    &.input_disabled {
        border-bottom-color: transparent;

        .input__box,
        .input__control {
            color: var(--color-content-minor-alfa-on-color);
        }

        .input__icon {
            opacity: .3;
        }
    }

    &.input_size_s .input__clear,
    &.input_size_m .input__clear {
        background-size: 10px;
    }

    &.input_size_l .input__clear,
    &.input_size_xl .input__clear {
        background-size: 14px;
    }
}
