.input_mode_link {
    padding-left: 0;
    min-width: 0;
    transition-property: color, border, background, opacity;

    .input__box {
        padding-right: 0;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .input__trigger {
        outline: none;
    }

    .input__control {
        min-width: 0;
        display: none;
    }

    &.input_focused,
    &.input_focused .input__control {
        min-width: 150px;
    }

    &.input_focused {
        .input__trigger {
            display: none;
        }

        .input__box {
            padding-right: 0;
            margin-right: 0;

            max-width: inherit;
        }

        .input__control {
            display: inline-block;
        }
    }

    &.input_size_s {
        .input__box {
            height: 28px;
            padding: 0 10px;
        }

        .input__trigger {
            line-height: 32px;
        }
    }

    &.input_size_m {
        .input__box {
            height: 38px;
            padding: 0 12px;
        }

        .input__trigger {
            line-height: 40px;
        }
    }

    &.input_size_l {
        .input__box {
            height: 48px;
            padding: 0 15px;
        }

        .input__trigger {
            line-height: 48px;
        }
    }

    &.input_size_xl {
        .input__box {
            height: 58px;
            padding: 0 15px;
        }

        .input__trigger {
            line-height: 56px;
        }
    }
}
